<h1 md-dialog-title>Log Time</h1>
<md-dialog-content style="min-width: 50em">
  <table>
    <tr>
      <td>
        <md-input-container>
          <input mdInput type="text" disabled placeholder="Name" value="{{data.activity.name}}">
        </md-input-container>
      </td>
      <td>
        <md-input-container>
          <input mdInput type="text" disabled placeholder="Status" value="{{data.activity.status}}">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container>
          <input mdInput type="date" required placeholder="Date" [value]="data.timelog.date | date:'yyyy-MM-dd'" (input)="data.timelog.date=parseDate($event.target.value)">
        </md-input-container>
      </td>
      <td>
        <md-input-container>
          <input mdInput type="time" required placeholder="Start" [(ngModel)]="data.timelog.start_hour">
        </md-input-container>
      </td>
      <td>
        <md-input-container>
          <input mdInput type="time" required placeholder="End" [(ngModel)]="data.timelog.end_hour">
        </md-input-container>
      </td>
    </tr>
  </table>
  <md-input-container style="width: 100%">
    <input mdInput type="text" placeholder="Commentaire" style="width: 100%" [(ngModel)]="data.timelog.comment">
  </md-input-container>
</md-dialog-content>

<md-dialog-actions>
  <button type="button" md-raised-button
          (click)="logtime()">Log Time</button>
  <button type="button" md-button
          (click)="dialogRef.close()">Cancel</button>
</md-dialog-actions>

