<mat-expansion-panel expanded>
  <mat-expansion-panel-header style="background-color:#EEE">
    <mat-panel-title>
      {{activity.name}}
    </mat-panel-title>
    <mat-panel-description>
      Edit activity
    </mat-panel-description>
  </mat-expansion-panel-header>

  <form>
    <mat-form-field style="width:85%; padding-top: 20px">
        <input matInput [(ngModel)]="activity.name" required placeholder="Name" name="name">
    </mat-form-field>
    <mat-form-field style="width:10%; padding-left: 2em">
      <mat-label>Status </mat-label>
      <mat-select placeholder="Status" [(ngModel)]="activity.status" name="status">
        <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-radio-group style="width:100%;" [(ngModel)] = "activity.scheduling_mode" name="radio-button-group">
      <mat-label style="font-weight: bold; padding-right: 2em">Scheduling : </mat-label>
      <mat-radio-button style="margin-right: 30px;" *ngFor="let mode of modes" [value]="mode">{{ mode }}</mat-radio-button>
    </mat-radio-group>
    <mat-form-field style="max-width:12em;">
      <input matInput [(ngModel)]="activity.typical_duration" min="0" type="number" required placeholder="typical_duration" name="typical_duration">
    </mat-form-field> (Minutes)
    <mat-form-field style="padding-left: 2em; max-width:12em;">
      <input matInput [(ngModel)]="activity.current_points" type="number" required placeholder="current_point" name="current_points">
    </mat-form-field> (Minutes)
    <mat-form-field style="padding-left: 2em;" *ngIf="activity.scheduling_mode === 'Deadline'" name="deadline">
      <input matInput type="date" required placeholder="DeadLine" [value]="activity.deadline | date:'yyyy-MM-dd'" (input)="activity.deadline=parseDate($event.target.value)">
    </mat-form-field>
    <mat-card style="width:95%;" *ngIf="activity.scheduling_mode === 'Recurrent'">
      <mat-card-header>
        <mat-card-title style="font-weight: bold;">Scheduling by Frequency</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group [(ngModel)] = "activity.scheduling_period" name="sheduling_period">
          <mat-radio-button  style="margin-right: 30px;" *ngFor="let period of periods" [value]="period">{{ period }}</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="activity.scheduling_period === 'Day'">
          Every
          <mat-form-field style="max-width:3em">
            <input matInput  type="number" min="1" maxlength="3" [(ngModel)]="activity.scheduling_pace" required name="scheduling_pace">
          </mat-form-field> Days
        </div>
        <div *ngIf="activity.scheduling_period === 'Week'">
          Every
          <mat-form-field style="max-width:3em">
            <input matInput  type="number" maxlength="3" min="1" [(ngModel)]="activity.scheduling_pace" required name="scheduling_pace">
          </mat-form-field> Weeks
          <mat-checkbox style="padding-left: 30px;" *ngFor="let day of days" [(ngModel)]="day.selected" [ngModelOptions]="{standalone: true}">{{day.name}} </mat-checkbox>
        </div>
        <div *ngIf="activity.scheduling_period === 'Month'">
          Day(s)
          <mat-form-field style="max-width:20em">
            <input matInput maxlength="20" style="width: 20em;" [(ngModel)]="activity.scheduling_detail" name="scheduling_detail" required>
          </mat-form-field>
          of every
          <mat-form-field style="max-width:3em">
            <input matInput  type="number" min="1" maxlength="3" [(ngModel)]="activity.scheduling_pace" name="scheduling_pace" required>
          </mat-form-field> Months
        </div>
      </mat-card-content>
    </mat-card>
    <div style="padding-top: 20px">
      <button mat-raised-button (click)="save()">Save</button>
      <button mat-raised-button *ngIf="existingActivity" (click)="openDeleteConfirmation()">Delete</button>
    </div>
  </form>

</mat-expansion-panel>

