<div class="panel panel-primary">
    <div  class="panel-heading">{{activity.name}}</div>
    <div class="panel-body">
        <div>
          <mat-input-container>
            <input matInput style="width:80%" [(ngModel)]="activity.name" required placeholder="name">
          </mat-input-container>
          <mat-select placeholder="Status" [(ngModel)]="activity.status">
            <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
          </mat-select>
          <p></p>
        </div>
        <div>
          Scheduling
          <br>
          <mat-radio-group [(ngModel)] = "activity.scheduling_mode">
            <mat-radio-button  *ngFor="let mode of modes" [value]="mode">{{ mode }}</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-input-container>
          <input matInput style="width:80%" [(ngModel)]="activity.typical_duration" required placeholder="typical_duration">
        </mat-input-container> (Minutes)
        <mat-input-container>
          <input matInput style="width:80%" [(ngModel)]="activity.current_points" required placeholder="current_point">
        </mat-input-container> (Minutes)
        <mat-input-container *ngIf="activity.scheduling_mode === 'Deadline'">
          <input matInput type="date" required placeholder="DeadLine" [value]="activity.deadline | date:'yyyy-MM-dd'" (input)="activity.deadline=parseDate($event.target.value)">
        </mat-input-container>
        <div *ngIf="activity.scheduling_mode === 'Recurrent'">
          <div>
            Scheduling by Frequency
            <br>
            <mat-radio-group [(ngModel)] = "activity.scheduling_period">
              <mat-radio-button  *ngFor="let period of periods" [value]="period">{{ period }}</mat-radio-button>
            </mat-radio-group>
          </div>
          <div *ngIf="activity.scheduling_period === 'Day'">
            Every
            <mat-input-container style="max-width:3em">
              <input matInput  type="number" maxlength="3" [(ngModel)]="activity.scheduling_pace" required>
            </mat-input-container> Days
          </div>
        </div>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
        <button type="button" class="btn btn-primary" *ngIf="existingActivity" (click)="deleteConfirmation()">Delete</button>
    </div>

    <div *ngIf="showDeleteConfirmation" class="modal fade show in danger">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button (click)="abortDelete()" type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this activity ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
                    <button type="button" class="btn btn-primary" (click)="abortDelete()">Cancel</button>
                </div>
            </div>
        </div>
    </div>


</div>
