<div class="activities-component">
    <div class="navi">
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li *ngFor="let activity of allParents" draggable="false">
                <a (click)="enterActivity(activity)" >{{activity.name | truncate : 15}}</a>
            </li>
        </ul>
        <hr>
        <div>
            <label>Hide Closed</label>
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" [ngModel]="hideDone" (change)="hide()">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                </label>
        </div>
    </div>

    <div class="canvas">
        <ul class="activities">
            <li *ngFor="let activity of activities" draggable="true" (contextmenu)="contextMenu($event, activity)"
                    (dblclick)="enterActivity(activity)" (click)="onSelect(activity)"
                [class.hidden]="hideDone && activity.status != 'new'"
                [class.selected]="activity === selectedActivity"
                [class.done]="activity.status === 'done'"
                [class.cancelled]="activity.status === 'cancelled'">
                {{activity.name}}
            </li>
        </ul>


        <button (click)="addActivity()" class="round-button add-button">+</button>

        <div *ngIf="addingActivity">
            <my-activity-detail [parentActivity]="parentActivity" [activity]="null" (savedNewActivity)="listActivitiesChanged($event);"></my-activity-detail>
        </div>

        <div *ngIf="selectedActivity">
            <my-activity-detail [activity]="selectedActivity" (savedNewActivity)="listActivitiesChanged($event);"></my-activity-detail>
        </div>
    </div>
</div>