<md-grid-list cols="2">
  <md-grid-tile
    [colspan]="1"
    [rowspan]="1"
    [style.background]="'lightblue'"

  >
    <div class="containerX">
      <div [fxLayout]="column">
        <md-card fxflex>
          <md-card-header>
            <md-card-title>Today</md-card-title>
          </md-card-header>
          <md-card-content>
          </md-card-content>
          <md-card-actions>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
          </md-card-actions>
        </md-card>
        <md-card fxflex>
          <md-card-header>
            <md-card-title>Today</md-card-title>
          </md-card-header>
          <md-card-content>
          </md-card-content>
          <md-card-actions>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </md-grid-tile>
  <md-grid-tile
    [colspan]="1"
    [rowspan]="1"
    [style.background]="'#DDBDF1'">
    Future
  </md-grid-tile>
</md-grid-list>
