.hidden {
    display: none !important;
}
.navi{
    margin: 0 0 0.5em 0.5em;
    /*line-height:30px;*/
    /*border: 1px solid black;*/
    width:150px;
}

.activities {
    text-align: left;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    height: 4em;
    border-radius: 4px;
    width: 500px;
}
.activities:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.done {
    color:#000 !important;
    background-color:#a2cf6f !important
}
.cancelled {
    color:#fff !important;
    background-color:#f6665c !important
}
.selected {
    background-color: #BBD8DC !important;
    color: white;
}

.detail {
    position:relative;
    /*bottom: 30px;*/
}
.add-button {
    position:absolute;
    top:20px;
    right:20px;
}
.activities-container {
  /*position: absolute;
  top: 60px;
  bottom: 30px;
  left: 0;
  right: 0;*/
}





