
<mat-sidenav-container class="activities-container">
  <mat-sidenav mode="side" class="navi" fixedviewport="true" opened="true">
      <mat-nav-list>
        <mat-list-item *ngFor="let activity of allParents" (click)="enterActivity(activity)">
          <a  >{{activity.name | truncate : 15}}</a>
        </mat-list-item>
      </mat-nav-list>

    <mat-divider></mat-divider>

    <div>
    <label>Hide Closed</label>
    <mat-button-toggle-group name="showOrHideActivities" aria-label="Font Style">
      <mat-button-toggle value="on">On</mat-button-toggle>
      <mat-button-toggle value="off">Off Closed</mat-button-toggle>
    </mat-button-toggle-group>




            <label>Hide Closed</label>
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" [ngModel]="hideDone" (change)="hide()">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                </label>
      </div>
  </mat-sidenav>

  <mat-sidenav-content>
        <ul class="activities">
            <li *ngFor="let activity of activities" draggable="true" (contextmenu)="contextMenu($event, activity)"
                    (dblclick)="enterActivity(activity)" (click)="onSelect(activity)"
                [class.hidden]="hideDone && activity.status != 'new'"
                [class.selected]="activity === selectedActivity"
                [class.done]="activity.status === 'done'"
                [class.cancelled]="activity.status === 'cancelled'">
                {{activity.name}}
            </li>
        </ul>

        <button mat-icon-button color="primary" (click)="addActivity()" class="add-button">
          <mat-icon aria-label="Add an activity">add_circle</mat-icon>
        </button>

        <div *ngIf="addingActivity">
            <my-activity-detail [parentActivity]="parentActivity" [activity]="null" (savedNewActivity)="listActivitiesChanged($event);"></my-activity-detail>
        </div>

        <div *ngIf="selectedActivity">
            <my-activity-detail [activity]="selectedActivity" (savedNewActivity)="listActivitiesChanged($event);"></my-activity-detail>
        </div>

  </mat-sidenav-content>

</mat-sidenav-container>
