<mat-sidenav-container class="activities-container" fxFlex="grow" style="width:100vw">
  <mat-sidenav mode="side" class="navi" opened="true">
    <mat-nav-list>
      <mat-list-item name="parentNav" *ngFor="let activity of allParents" (click)="enterActivity(activity)">
        <a>{{activity.name | truncate : 15}}</a>
      </mat-list-item>
    </mat-nav-list>

    <mat-divider></mat-divider>

    <mat-slide-toggle style="padding-top: 10px;" color="primary" [(ngModel)]="hideDone">Hide Closed</mat-slide-toggle>


  </mat-sidenav>

  <mat-sidenav-content style="padding-left: 20px;" fxLayout="row" fxLayoutAlign="stretch">

    <div fxFlex="grow">
    <mat-list>
      <mat-list-item *ngFor="let activity of activities" draggable="true" (contextmenu)="contextMenu($event, activity)"
                     (dblclick)="enterActivity(activity)" (click)="onSelect(activity)" class="activities"
                     [class.hidden]="hideDone && activity.status != 'new'"
                     [class.selected]="activity === selectedActivity"
                     [class.done]="activity.status === 'done'"
                     [class.cancelled]="activity.status === 'cancelled'">
        {{activity.name}}
      </mat-list-item>
    </mat-list>
    </div>

    <button mat-icon-button color="primary" (click)="addActivity()" class="add-button">
      <mat-icon aria-label="Add an activity">add_circle</mat-icon>
    </button>

    <div *ngIf="addingActivity" class="detail">
      <my-activity-detail [parentActivity]="parentActivity" [activity]="null" (savedNewActivity)="listActivitiesChanged($event);"></my-activity-detail>
    </div>

    <div *ngIf="selectedActivity" class="detail">
      <my-activity-detail [activity]="selectedActivity" (savedNewActivity)="listActivitiesChanged($event);"></my-activity-detail>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
