<h1 mat-dialog-title>Create Journal Entry</h1>
<mat-dialog-content style="min-width: 50em">
    <mat-radio-group [(ngModel)]="logType">
      <mat-radio-button  value="activity">Activity</mat-radio-button>
      <mat-radio-button  value="event" disabled>event</mat-radio-button>
    </mat-radio-group>

  <div  *ngIf="logType === 'activity'">

    <mat-input-container style="width: 100%">
      <input matInput placeholder="Activity" [matAutocomplete]="reactiveAuto" [formControl]="activityCtrl">
    </mat-input-container>


    <mat-autocomplete style="width: 50em" #reactiveAuto="matAutocomplete" [displayWith]="displayFn">
      <mat-option style="width: 50em" *ngFor="let activity of filteredActivities | async" [value]="activity" (onSelectionChange)="selected(activity)">
        {{ activity.name }}
      </mat-option>
    </mat-autocomplete>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" mat-raised-button
          (click)="createJournalLog()">Create</button>
  <button type="button" mat-button
          (click)="dialogRef.close()">Cancel</button>
</mat-dialog-actions>
