<h1 md-dialog-title>Update Journal Entry</h1>
<md-dialog-content style="min-width: 50em">
  <table>
    <tr>
      <td>
        <md-input-container>
          <input mdInput type="text" disabled placeholder="Name" value="{{journallog.name}}">
        </md-input-container>
      </td>
      <td>
        <md-input-container>
          <input mdInput type="text" disabled placeholder="Status" value="{{journallog.status}}">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container>
          <input mdInput type="date" required placeholder="Date" [value]="journallog.date | date:'yyyy-MM-dd'" (input)="journallog.date=parseDate($event.target.value)">
        </md-input-container>
      </td>
    </tr>
  </table>

</md-dialog-content>

<md-dialog-actions>
  <button type="button" md-raised-button
          (click)="dialogRef.close(journallog)">Update</button>
  <button type="button" md-button
          (click)="dialogRef.close()">Cancel</button>
</md-dialog-actions>
