@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

.app_title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  background-color:#369;
  color:white;
  text-align:center;
  pading: 5px;
  margin: 0 0 .2em;
}

.navbar-custom {
  background-color:#369;
  border-color: #369;
  color: white;
  margin-bottom: 10px;
}

.navbar-custom .navbar-brand-custom {
  font-size: 250%;
  font-family: Arial, Helvetica, sans-serif;
  pading: 5px;
  margin: 0 0 .2em;
  color:white;
}

.navbar-custom .navbar-nav>li>a {
  color:white;
  font-size: 150%;
}

.navbar-custom .navbar-nav>li>a:hover {
  color:white;
  font-size: 150%;
  background-color: #00a0f2;
}


#wrapper {
  min-height: 100%;
  position:relative;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}

.app_body {
  min-height: 90%;
  width:100%;
  padding-bottom:30px;
}

.app_footer {
  font-family: Arial, Helvetica, sans-serif;
  clear: both;
  background-color:#369;
  color:white;
  line-height:30px;
  text-align:center;
  width:100%;
  height:30px;
  position:absolute;
  bottom:0;
  left:0;
}
